#contenedor-arrow{
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height: 45px;
    width:80%;
    z-index: 2;
    margin: auto 0 5px 0;
}

#contenedor-arrow:hover{
    transform: translateY(-5px);
    transition: transform 0.3s;
    z-index: 2;
}

#contenedor-arrow:hover + .contenedor_secundario {
    transform: translateY(-93px);
    padding-top:5px;
    transition: all 0.3s;
}

#arrow_l {
    position: absolute;
    margin: 18px 50px auto auto;
    height: 8px;
    width: 66px;
    background-color: black;
    transform: rotate(35deg);
    z-index: 2;
}

#arrow_r {
    position: absolute;
    margin: 18px 0px auto 50px;
    height: 8px;
    width: 66px;
    background-color: black;
    transform: rotate(-35deg);
    z-index: 2;
}

#contenedor-arrow:hover #arrow,
#contenedor-arrow:hover #arrow_l,
#contenedor-arrow:hover #arrow_r {
    background-color: yellow;
    transition: background-color 0.2s;
    z-index: 2;
}

#arrow {
    height: 8px;
    width: 100%;
    background-color: black;
    justify-content: center;
    border-radius: 0px 0px 8px 8px;
    z-index: 1;
}

#tapon_l {
    position: absolute;
    margin: auto auto 0px 16px;
    height: 60px;
    width: 60px;
    background-color: red;
    z-index: 2;
    transform: translateY(-36px) rotate(-35deg);
}

#tapon_r {
    position: absolute;
    margin: auto 16px 0px auto;
    height: 60px;
    width: 60px;
    background-color: red;
    z-index: 2;
    transform: translateY(-36px) rotate(35deg);
}