.cardCarrousel {
  display: flex;
  height: 56vh;
  width: 55vw;
  min-width: 600px;
  max-width: 800px;
  min-height: 350px;
  max-height: 500px;
  background-color: var(--secundaryContainer);
  border-radius: 12px;
  gap: 10px;
  color: var(--onSecundaryContainer);
}

.stateLayer {
  z-index: 1;
  height: inherit;
  width: inherit;
  min-width: 600px;
  max-width: 800px;
  min-height: 350px;
  max-height: 500px;
  position: absolute;
  border-radius: 12px;
  transition: all 0.5s ease-in;
  pointer-events: none;
}

.noFocus {
  background-color: var(--shadowTransparencyHigh);
}

.image {
  display: flex;
  border-radius: 12px;
  width: fit-content;
  max-width: 32%;
}

.image img:hover {
  max-width: 230%;
  clip-path: inset(0);
  transition: all 0.4s ease-in;
}

.image img {
  border-radius: 12px;
  object-position: 0;
  object-fit: cover;
  max-width: 100%;
  clip-path: inset(0 round 12px);
  transition: all 0.4s ease-out;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 30px 10px 20px 10px;
  gap: 10px;
}

.descriptionContainer p {
  margin: 0;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.title {
  font-size: clamp(1em, 2.3vw, 2em);
  font-weight: 600;
  white-space: nowrap;
}

.chipContainer {
  display: flex;
  max-width: inherit;
  flex-wrap: wrap;
  height: fit-content;
  row-gap: 3px;
  column-gap: 5px;
}

.description {
  font-size: clamp(0.8em, 1.6vw, 1.2em);

  letter-spacing: 0.01em;
  line-height: 110%;
  padding: 10px;
  flex: 1;
}

.buttonContainer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  max-width: inherit;
  gap: 10px;
  justify-content: flex-start;
  padding: 2px;
}

@media only screen and (max-width: 700px) {
  .cardCarrousel {
    flex-direction: column;
    height: 50vh;
    max-height: auto;
    width: 75vw;
    min-height: 450px;
    min-width: auto;
    max-width: auto;
  }
  .titleContainer {
    flex-wrap: wrap;
  }
  .title {
    font-size: clamp(0.7em, 4vw, 2em);
    white-space: wrap;
  }
  .buttonContainer {
    height: fit-content;
  }
  .stateLayer {
    min-height: 450px;
    min-width: auto;
    max-width: auto;
  }
  .image {
    height: fit-content;
    max-height: 110px;
    width: 100%;
    max-width: 100%;
  }
  .image img:hover {
    max-width: 100%;
    max-height: 300%;
    clip-path: inset(0);
  }
  .image img {
    object-position: 0 0;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    height: fit-content;
    clip-path: inset(0 round 12px);
  }
  .descriptionContainer {
    padding: 5px 10px 10px 10px;
    gap: 10px;
  }
  .description {
    padding: 5px;
  }
}
