.dot {
  height: 8px;
  width: 8px;
  background-color: var(--shadowTransparency);
  border-radius: 4px;
  transition: all 0.4s ease-out;
}

.dotActive {
  background-color: var(--primary);
  height: 12px;
  width: 12px;
  margin: auto 4px;
  border-radius: 6px;
  transition: all 0.4s ease-in;
}
