.button {
  display: flex;
  height: 40px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 24px;
  gap: 8px;
  align-items: center;
  border-radius: 20px;
}

.button p {
  font-size: 1em;
  margin: 0;
}

.image {
  height: 22px;
  aspect-ratio: 1 / 1;
}

.secundary {
  background-color: var(--surface);
  outline: 1px solid var(--outline);
}
.secundary p {
  color: var(--onSurface);
}
.secundary .image:first-child {
  color: var(--primary);
}

.primary {
  background-color: var(--primary);
}
.primary p {
  color: var(--onPrimary);
}
.primary .image:first-child {
  color: var(--onPrimary);
}

@media only screen and (max-width: 700px) {
  .button {
    height: 30px;
    padding-left: 8px;
    padding-right: 16px;
    gap: 4px;
    border-radius: 16px;
  }

  .image {
    height: 18px;
  }
  .button p {
    font-size: 0.8em;
  }
}
