.button {
  display: flex;
  height: 50px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  border-radius: 12px;
  transition: all 0.3s ease-out;
}

.button:hover {
  background-color: var(--shadowTransparency);
  transition: all 0.3s ease-in;
}

.button p {
  margin: 0;
  font-weight: 600;
  font-size: 1.2em;
}
