.chip {
  display: flex;
  height: 32px;
  width: auto;
  align-items: center;
  justify-content: center;
  background-color: var(--surface);
  padding-right: 16px;
  border-radius: 8px;
  border: 1px solid var(--outline);
  transition: all 0.3s ease-in-out;
}

.link {
  cursor: pointer;
}

.chip p {
  width: auto;
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  color: var(--onSurface);
}

.image {
  height: 22px;
  width: 22px;
  margin: auto 8px;
}

.image:first-child {
  color: var(--primary);
}

.big {
  height: 46px;
}

.big .image {
  height: 36px;
  width: 36px;
  margin: auto 8px;
}

.big p {
  font-size: 1.3rem;
}

/* ONLY ICON */

.noLabel {
  background-color: transparent;
  border: 1px solid transparent;
  padding-right: 0px;
  transition: all 0.3s ease-out;
}

.noLabel .image {
  margin: 0px 8px;
}

.noLabel p {
  font-size: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 700px) {
  .chip {
    height: 24;
    padding-right: 8px;
    border-radius: 6px;
  }
  .chip p {
    font-size: 0.8em;
  }
  .image {
    height: 18px;
    width: 18px;
    margin: auto 4px;
  }
  .big {
    height: 32px;
  }

  .big .image {
    height: 22px;
    width: 22px;
    margin: auto 4px;
  }

  .big p {
    font-size: 1rem;
  }
}
