.languaje select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0px 8px;
  height: 32px;
  font-family: inherit;
  font-size: 1.2em;
  color: var(--onSeed);
  cursor: pointer;
  border-radius: 8px;
}
.languaje select:focus-visible {
  outline: 1px solid var(--outline);
  border-radius: 8px 8px 0px 0px;
}
.languaje select option {
  background-color: var(--seed);
  color: var(--onSeed);
}
