.menu {
  position: sticky;
  top: 0;
  display: flex;
  background-color: var(--seed);
  height: 60px;
  margin: auto 0;
  padding: 0 20px;
  z-index: 100;
  gap: 10px;
  color: var(--onSeed);
}

.nightModeContainer {
  display: flex;
  align-items: center;
  margin: auto 0px;
  gap: 5px;
}

.languajeSelectorContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: auto 0px;
}

.iconNight {
  height: 20px;
  width: 20px;
  color: var(--onSurface);
}

.buttonsContainer {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 2px;
}

@media only screen and (max-width: 700px) {
  .buttonsContainer {
    display: none;
    opacity: 0;
  }
  .menu {
    justify-content: flex-end;
  }
}
