body {
  margin: 0;
  font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Metropolis";
  src: url(./fonts/Metropolis-Medium.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Metropolis";
  src: url(./fonts/Metropolis-Bold.woff) format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Metropolis";
  src: url(./fonts/Metropolis-SemiBold.woff) format("woff");
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
